---
import CarouselSection from "../components/CarouselSection/CarouselSection";
import FeatureSection from "../components/FeatureSection.astro";
import HeroSection from "../components/HeroSection.astro";
import OnlineSection from "../components/OnlineSection.astro";
import ProfesorSection from "../components/ProfesorSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Active Learning Timisoara | Acasa">
  <main>
    <HeroSection />
  </main>
  <FeatureSection />
  <OnlineSection />
  <ProfesorSection />
  <CarouselSection client:load />
</Layout>

<!-- Carousel @TODO -->

<!-- https://medium.com/@mkmanish2598/guide-to-creating-a-youtube-instagram-slider-or-a-video-carousel-in-react-using-videojs-and-dbbc181ebc8c -->
