---
import CarouselSection from "../components/CarouselSection/CarouselSection";
import FeatureSection from "../components/FeatureSection.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import MapsSection from "../components/MapsSection.astro";
import OnlineSection from "../components/OnlineSection.astro";
import ProfesorSection from "../components/ProfesorSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Active Learning Timisoara | Acasa">
  <main>
    <HeroSection />
  </main>
  <FeatureSection />
  <Features />
  <OnlineSection />
  <ProfesorSection />
  <CarouselSection client:load />
  <MapsSection />
</Layout>

<!-- Contact @TODO -->
<!-- https://mambaui.com/components/contact -->
