---
import FeatureSection from "../components/FeatureSection.astro";
import HeroSection from "../components/HeroSection.astro";
import OnlineSection from "../components/OnlineSection.astro";
import ProfesorSection from "../components/ProfesorSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Active Learning Timisoara | Acasa">
  <main>
    <HeroSection />
  </main>
  <FeatureSection />
  <OnlineSection />
  <ProfesorSection />
</Layout>
