---

---

<section
  class="flex flex-col md:flex-row items-center justify-between p-8 max-w-6xl mx-auto py-4"
>
  <!-- Experience Item: 23 ani+ -->
  <div class="flex-shrink-0 mb-4 md:mb-0 md:mr-4">
    <div class="p-6 text-center">
      <i class="fa-solid fa-star text-4xl"></i>
      <p class="text-5xl font-bold text-albastru">23 ani+</p>
      <p class="text-gray-600">Experiență în domeniu</p>
    </div>
  </div>

  <!-- Experience Item: 13.000+ cursanți -->
  <div class="flex-shrink-0 mb-4 md:mb-0 md:mx-4">
    <div class="p-6 text-center">
      <i class="fa-solid fa-users text-4xl"></i>
      <p class="text-5xl font-bold text-albastru">13.000+</p>
      <p class="text-gray-600">Cursanți beneficiați</p>
    </div>
  </div>

  <!-- Experience Item: 13+ limbi -->
  <div class="flex-shrink-0">
    <div class="p-6 text-center">
      <i class="fa-solid fa-flag-usa text-4xl"></i>
      <p class="text-5xl font-bold text-albastru">13+</p>
      <p class="text-gray-600">Limbi oferite</p>
    </div>
  </div>
</section>
