---

---

<section class="hero-section">
  <div
    class="max-w-6xl py-16 mx-auto text-center items-center flex flex-col justify-center gap-8"
  >
    <h1 class="text-5xl lg:text-6xl xl:text-7xl text-negru md:w-1/2">
      Învață Prin Metode <span class="accent">Active</span> și Captivante
    </h1>
    <p class="max-w-3xl mx-auto mt-4 text-xl text-center md:w-2/3">
      De peste 20 de ani, peste <strong>13.000 de cursanți</strong>
      au beneficiat de cursurile Active Learning, îmbunătățindu-și viața profesională,
      academică sau personală. Acum, Active Learning face un pas înainte și intră
      în lumea virtuală a învățării.
    </p>
    <button class="btn btn-primary"
      >Inscrie-te acum!<i class="fa-solid fa-arrow-right"></i></button
    >
  </div>
</section>

<style>
  .hero-section {
    background-image: url("../assets/hero-section.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .accent {
    background-position: bottom;
    background-repeat: repeat no-repeat;
    background-image: url("../assets/accent-albastru.svg");
  }
</style>
