---

---

<section class="hero-section">
  <div
    class="max-w-6xl pt-16 mx-auto text-center items-center flex flex-col justify-center gap-8"
  >
    <h2
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-negru"
    >
      <span class="text-albastru">Învață</span> Limbi Străine Prin Metode <span
        class="text-rosu">Active</span
      > și Captivante
    </h2>
    <p class="max-w-3xl mx-auto mt-4 text-xl text-center dark:text-gray-400">
      De peste 20 de ani, peste <span class="text-rosu">13.000 de cursanți</span
      >
      au beneficiat de cursurile Active Learning, îmbunătățindu-și viața profesională,
      academică sau personală. Acum, Active Learning face un pas înainte și intră
      în lumea virtuală a învățării.
    </p>
    <a
      href="#"
      class="rounded-full text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-albastru text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center"
      >Inscrie-te acum!</a
    >
  </div>
  <!-- 
  <div
    class="max-w-6xl pt-16 mx-auto text-center items-center flex flex-col justify-center gap-8"
  >
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-negru"
    >
      Centrul de limbi moderne din Timisoara
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Deschideți ușile către lumea comunicării și a cunoașterii la Centrul de
      Limbi Moderne din Timișoara! Descoperiți bogăția diversității lingvistice
      și culturală într-un mediu prietenos și profesionist.
    </p>
    <a
      href="#"
      class="rounded-full text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-albastru text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center"
      >Inscrie-te acum!</a
    >
  </div> -->
</section>

<style>
  .hero-section {
    background-image: url("../assets/hero-section.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 1rem;
  }
</style>
