---

---

<section
  class="hero-section text-center items-center flex flex-col justify-center"
>
  <h1 class="text-4xl font-bold text-blue-600 mb-4">
    Centrul de limbi moderne din Timisoara
  </h1>
  <p class="text-gray-700 mb-8">
    Deschideți ușile către lumea comunicării și a cunoașterii la Centrul de
    Limbi Moderne din Timișoara! Descoperiți bogăția diversității lingvistice și
    culturală într-un mediu prietenos și profesionist.
  </p>
  <a
    href="#"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
    >Inscrie-te acum!</a
  >
</section>

<style>
  .hero-section {
    height: 70dvh;
    /* background-image: url('../../public/images/hero-bg.webp'); */
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
</style>
