---
// import
---

<section class="flex items-center justify-center min-h-screen">
  <div
    class="container max-w-xl p-6 py-12 mx-auto space-y-8 lg:px-8 lg:max-w-7xl"
  >
    <h2 class="text-3xl font-bold text-center mb-6">Ne găsești aici</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="flex flex-col items-center mb-6">
        <i class="fa-solid fa-location-dot text-3xl mb-2"></i>
        <h3 class="text-xl text-center">
          BD. Revoluției din 1989 nr.7<br />et.1 Timișoara
        </h3>
      </div>

      <div class="flex flex-col items-center mb-6">
        <i class="fa-solid fa-phone text-3xl mb-6"></i>
        <h4 class="text-xl text-center">0744 90 70 40</h4>
      </div>

      <div class="flex flex-col items-center mb-6">
        <i class="fa-solid fa-envelope text-3xl mb-2"></i>
        <a href="/contact" class="btn font-bold py-2 px-4 text-center">
          Trimite un email!
        </a>
      </div>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.76256921534!2d21.233578899999998!3d45.75590570000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4745677e453b0c87%3A0xa61a33ed1ece71ae!2sBulevardul%20Revolu%C8%9Biei%20din%201989%207%2C%20Timi%C8%99oara!5e0!3m2!1sro!2sro"
      style="width: 100%; height: 300px;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="mt-8"></iframe>
  </div>
</section>
